@import 'antd/dist/antd';

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ant-pagination {
  padding-bottom: 20px;
}

.ant-pagination-item-active {
  font-weight: 500;
  background: #1890ff;
}

.ant-pagination-item-active a {
  color: #fff !important;
}
